/* global.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  padding: 20px;
  max-width: 80%;
  position: relative; 
}

.modal-content {
  color: black; 
}

.close {
  position: absolute;
  top: -20px; 
  right: -20px; 
  cursor: pointer;
  font-size: 24px;
  color: #666;
}
.pokemon-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pokemon-search-input {
  flex: 2; 
  padding: 6px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  color: #333; 
  background-color: #fff; 
}

.pokemon-search-select {
  position: relative; 
  flex: 1; 
  padding: 6px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  color: #333; 
  background-color: #fff; 
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none; 
}


.pokemon-search-select::after {
  content: '\25BC'; 
  position: absolute; 
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%); 
  pointer-events: none; 
}

.pokemon-search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pokemon-search-button:hover {
  background-color: #0056b3;
}
}
